.Note {
  position: relative;
  background-color: antiquewhite;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.NoteContent {
  color: #333;
}

.NoteContent::first-letter {
  text-transform: uppercase;
}

.NoteDelete {
  position: absolute;
  top:2px;
  right:2px;
  font-size: 1em;
  background-color: cadetblue;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: .2s ease-in;
}

.NoteDelete:hover {
  cursor: pointer;
  background-color: darkred;
  transition: .2s ease-in;
}