.NoteInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewNote,
.AddNote {
  padding: 10px 20px;
  font-size: 1.2em;
  color: #666;
  border: none;
}

.NewNote {
  background-color: #efefef;
  transition: .2s ease-in;
  width: 90%;
}

.AddNote {
  background-color: #262626; 
  color: #fff;
  transition: .2s ease-in;
}

.AddNote:hover {
  background-color: darkred;
  transition: .2s ease-in;
  cursor: pointer;
}

.AddNote:focus {
  outline: none;
}

.NewNote:focus {
  outline: none;
  background-color: lightblue;
  transition: .2s ease-in;
}



@media (min-width: 768px) {
  .NewNote {
    width: 33%;
  }
}

